@font-face {
  font-family: 'Playfair Display Black';
  src: url(fonts/PlayfairDisplay-Black.ttf);
  font-family: 'Roboto';
  src: url(fonts/Roboto-Regular.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.page {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  background-color: #FFFFFF; }
  .page__header {
    margin-top: 60px; }
  .page__nav {
    margin-top: 46px; }
  .page__hotel {
    margin-top: 47px; }
  .page__reviews {
    margin-top: 44px; }
  .page__tickets {
    margin-top: 51px; }
  .page__footer {
    margin-top: 50px; }

.header__title {
  font-family: "Playfair Display Black";
  font-size: 40px; }

.nav {
  width: 100%;
  max-width: 1170px; }
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none; }
  .nav__link {
    font-size: 15px;
    color: #000000;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.3s; }
    .nav__link:hover {
      color: #FFFFFF;
      background-color: #FF7931; }
    .nav__link--color {
      color: #FFFFFF; }

.hotel {
  width: 100%;
  min-height: 464px;
  background-image: url(img/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #FFFFFF; }
  .hotel__img {
    margin-top: 46px; }
  .hotel__title {
    margin-top: 32px;
    font-size: 72px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .hotel__text {
    margin-top: 139px;
    max-width: 456px;
    font-size: 14px;
    line-height: 21px;
    text-align: center; }

.reviews {
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }
  .reviews__title {
    font-size: 17px;
    letter-spacing: 2px; }
  .reviews__wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between; }

.review {
  max-width: 370px;
  display: flex;
  flex-direction: column; }
  .review:not(:last-child) {
    margin-right: 29px; }
  .review__img {
    max-width: 100%;
    height: auto; }
  .review__title {
    margin-top: 20px;
    font-family: "Playfair Display Black";
    font-size: 23px; }
    .review__title--orange {
      color: #FF7931; }
  .review__text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 21px; }

.tickets {
  width: 100%;
  height: 556px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
  background-image: url(img/ellipse-1.png);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; }
  .tickets__title {
    margin-top: 33px;
    font-size: 17px;
    letter-spacing: 2px; }
  .tickets__wrapper {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center; }

.ticket {
  margin-bottom: 24px;
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .ticket__title {
    font-family: "Playfair Display Black";
    font-size: 23px; }
  .ticket__text {
    margin-top: 10px;
    min-height: 63px;
    font-size: 14px;
    line-height: 21px;
    text-align: center; }
  .ticket__button {
    border: none;
    width: 170px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7931;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 2px;
    transition: 0.4s; }
    .ticket__button:hover {
      transform: scale(1.1);
      cursor: pointer; }

.footer {
  width: 100%;
  height: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #575757; }
  .footer__title {
    margin-top: 26px;
    font-family: "Playfair Display Black";
    font-size: 28px;
    color: #FFFFFF; }
  .footer__nav {
    margin-top: 32px; }
  .footer__line {
    margin-top: 46px;
    max-width: 1170px;
    width: 100%;
    color: #FFFFFF; }
  .footer__social {
    margin-top: 42px; }

.social {
  display: flex;
  list-style: none; }
  .social__item {
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    transition: 0.4s; }
    .social__item:hover {
      background-color: #FF7931; }
    .social__item:not(:last-child) {
      margin-right: 14px; }