<section class="tickets main__tickets">
  <h4 class="tickets__title">АБОНЕМЕНТЫ В ТЕАТР</h4>

  <div class="tickets__wrapper">
    <div class="ticket">
      <h4 class="ticket__title">Скидка 50% на весь сезон 2020</h4>
      <p class="ticket__text">Покупая абонемент на сезон 2020 года вы сэкономите половину стоимости всех спектаклей</p>
    </div>

    <div class="ticket">
      <h4 class="ticket__title">Места у сцены</h4>
      <p class="ticket__text">Только для обладателей абонементов будет возможность сесть поближе к сцене</p>
    </div>

    <div class="ticket">
      <h4 class="ticket__title">Автограф-сессия актёров</h4>
      <p class="ticket__text">После спектаклей у вас будет возможность пообщаться с актёрами и взять у них автограф</p>
    </div>

    <button class="ticket__button">
      смотреть <img src="./arrow-forward.png">
    </button>
  </div>
</section>