<nav class="menu menu__btn">
  <ul class="menu__list">
    <li class="menu__item">
      <a class="menu__link" href="#!">Womens</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#!">Mens</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#!">Goods</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#!">Accessories</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#!">Brands</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#!">Blog</a>
    </li>
  </ul>
  <!-- /.menu__list -->
</nav>
<!-- /.menu -->