<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">

        <ul class="footer-menu">
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#!">Shop</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#!">About Us</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#!">Careers</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#!">FAQ</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#!">Blog</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#!">Contacts</a>
          </li>
        </ul>

        <div class="social">
          <span class="social__text">Follow Us</span>
          <ul class="social__list">
            <li class="social__item">
              <a class="social__link" href="#!">
                <svg class="social__ico" width="10" height="18">
                  <use href="svg-sprites/svg-icons-sprite.svg#i-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#!">
                <svg class="social__ico" width="18" height="16">
                  <use href="svg-sprites/svg-icons-sprite.svg#i-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#!">
                <svg class="social__ico" width="18" height="18">
                  <use href="svg-sprites/svg-icons-sprite.svg#i-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <span class="company">© 2019 Universal UI Kit</span>
      </div>

      <div class="footer__bottom">
        <ul class="payment">
          <li class="payment__item">
            <img class="payment__ico" src="i-visa.png" alt="visa icon">
          </li>
          <li class="payment__item">
            <img class="payment__ico" src="i-mastercard.png" alt="mastercard icon">
          </li>
          <li class="payment__item">
            <img class="payment__ico" src="i-paypal.png" alt="paypal icon">
          </li>
          <li class="payment__item">
            <img class="payment__ico" src="i-bitcoint.png" alt="bitcoint icon">
          </li>
        </ul>

        <button class="scroll-btn">
          <span class="scroll-btn__text">Top</span>
          <svg class="scroll-btn__ico" width="40" height="40">
            <use href="svg-sprites/svg-icons-sprite.svg#i-to-top"></use>
          </svg>
        </button>
        <!-- /.scroll-btn -->
      </div>
    </div>
  </div>
  <!-- /.container -->
</footer>
<!-- /.footer -->