<section class="reviews main__reviews">
  <div class="container">
    <h4 class="reviews__title">ОБЗОРЫ</h4>

    <div class="reviews__wrapper">
      <a href="#" class="review">
        <img class="review__img" src="./pic-1.jpg" alt="pic-1">
        <h3 class="review__title">«Шальные годы» Монпарнаса</h3>
        <p class="review__text">В Музее изобразительных искусств имени Пушкина с 29 сентября по 29 ноября проходит выставка «Шальные годы Монпарнаса»</p>
      </a>

      <a href="#" class="review">
        <img class="review__img" src="./pic-2.jpg" alt="pic-2">
        <h3 class="review__title">Анатомия за 30 секунд</h3>
        <p class="review__text">Сейчас, когда мир открыт нараспашку для человека и его познавательных изысканий, интерес к научно‑популярной литературе заметно вырос</p>
      </a>

      <a href="#" class="review">
        <img class="review__img" src="./pic-3.jpg" alt="pic-3">
        <h3 class="review__title">Сферические чудаки</h3>
        <p class="review__text">Корреспондентам «Культурного обозревателя» посчастливилось побывать в театре «Сфера» на премьере спектакля «Чудаки и зануды» </p>
      </a>
    </div>
  </div>
</section>