<section class="catalog">
  <div class="container">
    <header class="catalog__header">
      <h3 class="catalog__title">New Arrival</h3>
      <button class="catalog__btn-show-all">View All</button>
    </header>
    <!-- /.catalog__header -->
    <ul class="catalog__list">
      <li class="catalog__item catalog-card">
        <a class="catalog-card__link" href="#!">
          <div class="catalog-card__top">
            <span class="label catalog-card__label">New</span>
            <img class="catalog-card__image" src="catalog-image-1.png" alt="">
          </div>
          <h4 class="catalog-card__title">Embroidered Hoodie</h4>
          <p class="catalog-card__description">Yellow/Lilac/Fuchsia/Orange</p>
          <span class="catalog-card__price">$89</span>
        </a>
      </li>
      <li class="catalog__item catalog-card">
        <a class="catalog-card__link" href="#!">
          <div class="catalog-card__top">
            <span class="label catalog-card__label">New</span>
            <img class="catalog-card__image" src="catalog-image-2.png" alt="">
          </div>
          <h4 class="catalog-card__title">Faded Beach Trousers</h4>
          <p class="catalog-card__description">Navy/Ochre/Black/Khaki</p>
          <span class="catalog-card__price">$139</span>
        </a>
      </li>
      <li class="catalog__item catalog-card">
        <a class="catalog-card__link" href="#!">
          <div class="catalog-card__top">
            <span class="label catalog-card__label">New</span>
            <img class="catalog-card__image" src="catalog-image-3.png" alt="">
          </div>
          <h4 class="catalog-card__title">Text T-Shirt</h4>
          <p class="catalog-card__description">White</p>
          <span class="catalog-card__price">$59</span>
        </a>
      </li>
      <li class="catalog__item catalog-card">
        <a class="catalog-card__link" href="#!">
          <div class="catalog-card__top">
            <span class="label catalog-card__label">New</span>
            <img class="catalog-card__image" src="catalog-image-4.png" alt="">
          </div>
          <h4 class="catalog-card__title">Striped Long Sleeve Shirt</h4>
          <p class="catalog-card__description">Red/Sky Blue</p>
          <span class="catalog-card__price">$119</span>
        </a>
      </li>
    </ul>
    <!-- /.catalog__list -->
  </div>
  <!-- /.container -->
</section>
<!-- /.catalog -->