<section class="slider swiper-container">
  <ul class="slider__list swiper-wrapper">
    <li class="slide swiper-slide">
      <img class="slide__image" src="img-slider-1.png" alt="Slider image 1">
      <div class="slide__inner">
        <span class="label label--mb20">Bestseller</span>
        <h1 class="slide__title">Sweater Choker Neck</h1>
        <p class="slide__description">Women’s pearl basic knit sweater with a round neck. Available in several colours. Free shipping to stores.</p>
        <button class="btn btn--pd25">
          <span class="btn__price">$319</span>
          <span class="btn__name">Shop now</span>
        </button>
      </div>
    </li>
    <li class="slide swiper-slide">
      <img class="slide__image" src="img-slider-1.png" alt="Slider image 1">
      <div class="slide__inner">
        <span class="label label--mb20">Bestseller</span>
        <h1 class="slide__title">Sweater Choker Neck</h1>
        <p class="slide__description">Women’s pearl basic knit sweater with a round neck. Available in several colours. Free shipping to stores.</p>
        <button class="btn btn--pd25">
          <span class="btn__price">$319</span>
          <span class="btn__name">Shop now</span>
        </button>
      </div>
    </li>
    <li class="slide swiper-slide">
      <img class="slide__image" src="img-slider-1.png" alt="Slider image 1">
      <div class="slide__inner">
        <span class="label label--mb20">Bestseller</span>
        <h1 class="slide__title">Sweater Choker Neck</h1>
        <p class="slide__description">Women’s pearl basic knit sweater with a round neck. Available in several colours. Free shipping to stores.</p>
        <button class="btn btn--pd25">
          <span class="btn__price">$319</span>
          <span class="btn__name">Shop now</span>
        </button>
      </div>
    </li>
  </ul>
  <!-- /. slider__list -->
  <button class="slider__btn slider__btn--prev">
    <svg class="slider__ico" width="60" height="60">
      <use href="svg-sprites/svg-icons-sprite.svg#i-slider-btn-prev"></use>
    </svg>
  </button>
  <!-- /. slider__btn slider__btn--prev -->
  <button class="slider__btn slider__btn--next">
    <svg class="slider__ico" width="60" height="60">
      <use href="svg-sprites/svg-icons-sprite.svg#i-slider-btn-next"></use>
    </svg>
  </button>
  <!-- /. slider__btn slider__btn--next -->
</section>
<!-- /.slider -->