.slider {
  position: relative;
  background-color: $c-blue-v2;
  overflow: hidden;

  &--hide {
    z-index: -1;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.4;
    z-index: 1;

    &--prev {      
      left: 8%;

      @media(max-width: $bp-xl) {
        left: 3%;
      }
    }

    &--next {
      right: 8%;

      @media(max-width: $bp-xl) {
        right: 3%;
      }
    }
  }
}

.slide {
  height: 570px;

  @media(max-width: $bp-sm) {
    height: 320px;
  }
    
  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // object-position: 97%;

    @media(max-width: $bp-sm) {
      // display: none;
    }
  }

  &__inner {
    max-width: 360px;
    position: absolute;
    left: 15.5%;
    top: 16%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media(max-width: $bp-xl) {
      top: 10%;
    }

    @media(max-width: $bp-lg) {
      max-width: 500px;
      left: 10%;
      right: 10%;
      top: 10%;
      bottom: 10%;
    }
    
    @media(max-width: $bp-sm) {
      justify-content: space-between;
    }
  }
  
  &__title {
    margin-bottom: 16px;
    font-family: $f-robotoSlab;
    font-size: 55px;
    line-height: 1.28;
    font-weight: 700;

    @media(max-width: $bp-sm) {
      margin-bottom: 5px;
      font-size: 24px;
    }
  }

  &__description {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.66;
    color: $c-black-v2;

    @media(max-width: $bp-xl) {
      margin-bottom: 20px;
    }
    @media(max-width: $bp-sm) {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}