<footer class="footer page__footer">
  <div class="container">
    <div class="footer__wrapper">
      <h3 class="footer__title">Новости культуры</h3>

      <nav class="nav footer__nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link nav__link--color" href="#">НОВОСТИ</a></li>
          <li class="nav__item"><a class="nav__link nav__link--color" href="#">ОБЗОРЫ</a></li>
          <li class="nav__item"><a class="nav__link nav__link--color" href="#">МУЗЫКА</a></li>
          <li class="nav__item"><a class="nav__link nav__link--color" href="#">АРХИТЕКТУРА</a></li>
          <li class="nav__item"><a class="nav__link nav__link--color" href="#">КИНО</a></li>
          <li class="nav__item"><a class="nav__link nav__link--color" href="#">ТЕАТР</a></li>
          <li class="nav__item"><a class="nav__link nav__link--color" href="#">ЛИТЕРАТУРА</a></li>
          <li class="nav__item"><a class="nav__link nav__link--color" href="#">РЕЛИГИЯ</a></li>
          <li class="nav__item"><a class="nav__link nav__link--color" href="#">ЖИВОПИСЬ</a></li>
        </ul>
      </nav>

      <hr class="footer__line">

      <ul class="social footer__social">
        <li class="social__item">
          <a class="social__link" href="#">
            <img class="social__icon" src="./instagram_icon.svg" alt="icon-1">
          </a>

        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <img class="social__icon" src="./facebook_icon.svg" alt="icon-2">
          </a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">
            <img class="social__icon" src="./twitter_icon.svg" alt="icon-3">
          </a>
        </li>
      </ul>
      
    </div>
  </div>
</footer>