@import './scss/variabels.scss';
@import './fonts/fonts.scss';
@import './components/header/header.scss';
@import './components/hotel/hotel.scss';
@import './components/reviews/reviews.scss';
@import './components/tickets/tickets.scss';
@import './components/footer/footer.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}

.page {
  max-width: 1440px;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-family: $main-font;
  color: $black-color;

  background-color: $white-color;

  &__header {
    margin-top: 60px;
  }

  &__main {
    margin-top: 47px;
  }

  &__footer {
    margin-top: 50px;
  }
}

.main {
  width: 100%;

  &__reviews {
    margin-top: 44px;
  }

  &__tickets {
    margin-top: 30px;
  }
}