// // gap
// $gap: 20px;
// $gap-negative: -20px;

// // container
// $w-container-mob: 100%;
// $w-container-sm: 540px;
// $w-container-md: 720px;
// $w-container-lg: 960px;
// $w-container-xl: 1140px;

// // breakpoints
// $bp-sm: 576px;
// $bp-md: 768px;
// $bp-lg: 992px;
// $bp-xl: 1200px;


// gap
$gap: 30px;
$gap-negative: -30px;


// container
$w-container-mob: 100%;
$w-container-sm: 540px;
$w-container-md: 720px;
$w-container-lg: 960px;
$w-container-xl: 1218px;


// breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;


// COLORS
$c-white-v1: #FFFFFF;
$c-white-v2: #E7D9FF;
$c-white-v3: #D8BFFF;
$c-black-v1: #262D33;
$c-black-v2: #4B5157;
$c-grey-v1: #939699;
$c-blue-v1: #4592FF;
$c-blue-v2: #B4D1E0;
$c-blue-v3: #CCD5E6;
$c-green-v1: #3DC47E;
$c-pink-v1: #FFC4C9;
$c-pink-v2: #FF4F52;
$c-violet-v1: #8F79D4;

// FONTS
$f-lato: "Lato";
$f-robotoSlab: "Roboto Slab";