<header class="header page__header">
  <div class="container">

    <h1 class="header__title">Новости культуры</h1>

    <nav class="nav header__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">НОВОСТИ</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">ОБЗОРЫ</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">МУЗЫКА</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">АРХИТЕКТУРА</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">КИНО</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">ТЕАТР</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">ЛИТЕРАТУРА</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">РЕЛИГИЯ</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">ЖИВОПИСЬ</a>
        </li>
      </ul>
    </nav>

  </div>
</header>